@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
.main{
}
.block-gradient{
  background: linear-gradient(52deg, #FFE1C6 4.87%, #FFCB05 94.37%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text-subtitle{
  width: 207px;
  text-align: center;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.image-pocemon{
  width: 200px;
  height: 200px;
}
.backdrop-pokemon{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.types-text{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: white;
}
.pokemon-name{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom:16px;
}
.stats{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #1D1D1D;
}
.name-stats{
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #666;
}
.link-right{
  left: 85%;
}
.swith-pokemon{
  font-size: 25px;
  background: white;
  padding: 5px 10px;
  border-radius: 20px;
}
.swith-pokemon:hover{
  cursor: pointer;
  background: black;
  color: white;
}
.hoverBG:hover{
  cursor: pointer;
  background: black;
  color: white;
}
.link-swith-pokemon{
  top: 250px;
}
.search-pokemon{
  padding: 10px;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.search-pokemon-button{
  color: white;
  background: #DC0A2D;
  padding: 10px;
  border-radius: 10px;
}
.search-pokemon-button:hover{
  color:  #DC0A2D;
  background: white;
}
.nav-link{
  color: black;
  font-size: 20px;
}
.filter-element{
  color: black;
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
.filter-element:hover{
  color: black;
}
.header-text{
  color: black;
}
.login-left{
  height: 100vh;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 66px;
  background: #86cbac;
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}
.login-left-name{
  padding-bottom: 253px;
}
.login-left-text{
  padding-bottom: 265px;
}
.login-right{
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  padding-right: 99px;
  padding-left: 99px;
  padding-top: 200px;
}
.login-right-text{
  margin-bottom: 100px;
}
.login-input{
  margin-bottom: 30px;
}
.login-input{
 border-bottom: 1px solid black;
}
.login-button{
  border-radius: 20px;
  background: #000;
  color: white;
  padding: 10px;
  margin-bottom: 100px;
  border: 1px solid white;
}
.login-button:hover{
  background: white;
  color: black;
  border: 1px solid black;
}
.login-redirect-link{
  color: #3EC1F3;
  text-decoration: underline;
}
.dialog-block{
  left: 300px;
  top: 340px;
}
.dialog-block p{
  width: 500px;
}
.dialog-block button{
  position: relative;
  left: 400px;
 padding: 15px;
  background: #882727;
  color: white;
  border-radius: 10px;
}
.dialog-trainer{
  padding: 20px;
  background: white;
  display: flex;
  width: 150px;
  position: relative;
  height: 150px;
  top: 220px;
  left: 250px;
  border-radius: 50px;
}
.dialig{
  background-image: url("../../public/5003472.jpg");
  height: 100vh;
  background-size: cover;
  width: 100%;
}
.svg-container{
  left: 400px;
  top: 300px;
}
.get-pokemon{
  height: 100%;
  width: 100%;
}
.get-pokemon-button{
  padding: 10px 20px;
  background: #1D1D1D;
  color: white;
  border-radius: 20px;
}
.box__fight{
  background-image: url("../../public/pokemon-nature-pikachu-charmander-wallpaper-preview.jpg");
}
.button_margin{
  margin-right: 20px !important;
}
.dead__pokemon{
  filter: invert(41%) sepia(99%) saturate(9%) hue-rotate(331deg) brightness(100%) contrast(87%);
  opacity: 0.5;
}
.pokemon__animation__right{
  position: relative;
  animation: pokemonRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

@keyframes pokemonRight {
  0%   {left: 0px; top: 0px;}
  70%  {left: 500px; top: 0px;}
  100%  {left: 500px; top: 0px;}
}
.pokemon__animation__left{
  position: relative;
  animation: pokemonLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}
@keyframes pokemonLeft{
  0%   {right: 0px; top: 0px;}
  70%  {right: 500px; top: 0px;}
  100%  {right: 500px; top: 0px;}
}

.pokemon__animation__cantLeave__right{
  position: relative;
  animation: pokemonCantLeave;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}
@keyframes pokemonCantLeave{
  0%   {right: 30px; top: 0px;}
  100%   {left: 30px; top: 0px;}
}
.pokemon__animation__leave__right{
  position: relative;
  animation: pokemonLeave;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}
@keyframes pokemonLeave{
  0%   {opacity: 1}
  100%   {opacity: 0;}
}
.health__animation__true{
  position: relative;
  animation: addHealth;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}
@keyframes addHealth{
  0% { color: white; }
  40% { color: pink; }
  70% { color: hotpink; }
  100% {color: deeppink; }
 }
